
body {
  /*position: relative;*/
  text-align: center;
}

.wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
  min-height:500px;
  margin: 0px;
  min-height:100vh;
}


.progress {
  margin: 10px 0px 10px 0px;
}

.card.mb-3 {
  max-width: 20rem;
}


.dev {
  height: 80px;
  width: 80px;
}

li {
  list-style: none;
  display: inline;
  /*font-family: 'Marck Script', cursive;*/
}

/*hr {*/
  /*width: 200px;*/
/*}*/

.grid {
  display: grid;
  grid-template: repeat(2, 1fr) /repeat(3, 1fr);
  grid-gap: 3px;
}

.grid2 {
  display: grid;
  grid-template: repeat(1, 1fr) /repeat(3, 1fr);
  grid-gap: 3px;
}

/*.about {*/

/*}*/

/*.skills {*/

/*}*/

/*.more {*/

/*}*/

/*.projects {*/

/*}*/

/*.resume {*/

/*}*/

/*.blog {*/

/*}*/

/*.contact {*/

/*}*/

footer {
  text-align: left;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height:100px;
  margin: 0px;
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}